body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 1.5;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(30, 30, 30);
}

.Menu {
    text-decoration: none;
    float: left;
    position: relative;
    margin-right: 40px;
    margin-bottom: 30px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 50px;
    width: 100%;
    height: 5%;
}

.dropbtn {
    background-color: rgb(175, 175, 175);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    margin-bottom: 5%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.HeaderImages {

    width: 100%;
    height: 200px;
    overflow: hidden;
    display: block;
    margin: 0px auto;
}

h1 {
    font-size: 20pt;
    position: left;
    margin-top: 100px;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 13pt;
}

table {
    border: rgb(220, 220, 220);
    border-style: solid;
    width: 100%;
}

.Overview {
    background: rgb(220, 220, 220);

}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: right;
    margin-top: 20%;
    height: 50%;
    bottom: 0%;

}

.PostLogo {

    float: left;
    width: 200px;
    height: 50%;
    bottom: 0%;

}

/* repositories */
.box {
    font-size: 10pt;
    padding: 20px;
    border-color: rgb(170, 170, 170);
    border-width: 2px;
    border-style: solid;
    float: left;
    margin-right: 3.3333%;
    margin-bottom: 20%;
    width: 30%;
    box-sizing: border-box;
}
